################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EfCoreTest/EfCoreTest/bin/Debug/netcoreapp3.1
/EfCoreTest/.vs/EfCoreTest/v16
/EfCoreTest/EfCoreTest/obj
